---
layout: default
title: About

namespace: about
permalink: /about
---

{% include me.html %}

<h1>About Me</h1>

<p>
  My name is {{ site.data.author.name }} and I am a senior majoring in computer science at Purdue university.
  I am in the systems software track and the security track.
</p>

<h2>Socials</h2>

<div class="socials">
  {% for social in site.socials %}
    <a class="social" href="{{ social.url }}" rel="nofollow noopener noreferrer">
      <div class="icon">
        {% if social.icon %}
            {% include {{ social.icon }} %}
        {% endif %}
      </div>
      <div class="label">
          {{ social.label}}
          {% if social.sup %}
            <sup>
              {{social.sup}}
            </sup>
          {% endif %}
      </div>
    </a>
  {% endfor %}
</div>

<h2>Experience</h2>

<div class="experience_list">
  {% for item in site.data.author.experiences %}
    <div class="experience_item">
      <div class="experience_item_marker">{{ item.from }}</div>
      <a class="experience_item_content" href="{{ item.url }}" rel="nofollow noopener noreferrer">
        <div class="title">
          <div class="name">{{ item.name }}</div>
          <div class="label">{{ item.label }}</div>
        </div>
        <div class="description">{{ item.description }}</div>
      </a>
    </div>
  {% endfor %}
</div>

<h2>Projects</h2>

<div class="project_list">
  {% for item in site.data.author.projects %}
    <div class="item">
      <div class="name">{{ item.label }}</div>
      <div class="description">{{ item.description }}</div>
      <div class="action">
        {% if item.repo %}
          <a class="action_item" href="{{ item.repo }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/github.html %}</div>
            <div class="action_item_label">Source</div>
          </a>
        {% endif %}
        {% if item.video %}
          <a class="action_item" href="{{ item.video }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/video.html %}</div>
            <div class="action_item_label">Video</div>
          </a>
        {% endif %}
        {% if item.demo %}
          <a class="action_item" href="{{ item.demo }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/demo.html %}</div>
            <div class="action_item_label">Demo</div>
          </a>
        {% endif %}
        {% if item.post %}
          <a class="action_item" href="{{ item.post }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/post.html %}</div>
            <div class="action_item_label">Post</div>
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

<a class="go_back" href="/" rel="nofollow noopener noreferrer">
  {% include icons/back.html %}
</a>
