---
layout: default
title: Resources

namespace: resources
permalink: /resources
---

<h1>Resources</h1>

<div class="resources_description">
    This page is a collection of useful stuff.
</div>

<div class="resource_list_list">
    {% for list in site.data.resources.entries %}
        <h2>{{ list.name }}</h2>
        <div class="resource_list">
            {% for item in list.entries %}
                <a class="resource_item" href="{{ item.url }}" rel="nofollow noopener noreferrer">
                    <div class="resource_item_name">{{ item.name }}</div>
                    {% if item.desc %}
                        <div class="resource_item_desc">{{ item.desc }}</div>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
    {% endfor %}
</div>

<a class="go_back" href="javascript:history.back()" rel="nofollow noopener noreferrer">
    {% include icons/back.html %}
</a>