---
layout: default
title: Resources

namespace: resources
permalink: /resources
---

<h1>Resources</h1>

<div class="resources_description">
    This page is a collection of useful resources.
</div>

<div class="resource_list_list">
    {% for list in site.data.resources.entries %}
        <h2 class="resource_list_header">‣ {{ list.name }}</h2>
        <ul>
            {% for item in list.entries %}
                <li>
                    <div>
                        <a href="{{ item.url }}" rel="nofollow noopener noreferrer">
                            {{ item.name }}
                        </a>
                        {% if item.desc %}
                            <div>{{ item.desc }}</div>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
</div>

<a class="go_back" href="javascript:history.back()" rel="nofollow noopener noreferrer">
    {% include icons/back.html %}
</a>