
<h2>
  Experience
</h2>

<div class="experience_list">
  {% for item in site.data.author.experiences %}
    <a class="item" href="{{ item.url }}" rel="nofollow noopener noreferrer">
      <div class="date">{{ item.from }} - {{ item.to }}</div>
      <div class="header">
        <div class="name">{{ item.name }}</div>
        <div class="separator">▕ </div>
        <div class="label">{{ item.label }}</div>
      </div>
      <div class="description">{{ item.description }}</div>
    </a>
  {% endfor %}
</div>

<h2>
  Projects
</h2>

<div class="project_list">
  {% for item in site.data.author.projects %}
    <div class="item">
      <div class="name">{{ item.label }}</div>
      <div class="description">{{ item.description }}</div>
      <div class="action">
        {% if item.repo %}
          <a class="action_item" href="{{ item.repo }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/github.html %}</div>
            <div class="action_item_label">Source</div>
          </a>
        {% endif %}
        {% if item.video %}
          <a class="action_item" href="{{ item.video }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/video.html %}</div>
            <div class="action_item_label">Video</div>
          </a>
        {% endif %}
        {% if item.demo %}
          <a class="action_item" href="{{ item.demo }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/demo.html %}</div>
            <div class="action_item_label">Demo</div>
          </a>
        {% endif %}
        {% if item.post %}
          <a class="action_item" href="{{ item.post }}" rel="nofollow noopener noreferrer">
            <div class="action_item_icon">{% include icons/post.html %}</div>
            <div class="action_item_label">Post</div>
          </a>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
