<div class="menu">

  {% for item in include.collection %}

    {% case item.type %}

      {% when "link" %}

        <a href="{{ item.url }}">{{ item.name }}</a>

      {% when "menu" %}

        <div class="submenu">
          <div class="divider"></div>
          <p>{{ item.name }}</p>
          <div class="divider"></div>
        </div>

        {% include menu_item.html collection=item.entries %}

      {% when "posts" %}

        <div class="submenu">
          <div class="divider"></div>
          <p>{{ item.name }}</p>
          <div class="divider"></div>
        </div>

        {% include post_list.html
          limit=item.limit
          show_more=true
          show_more_url=item.show_more_url
          show_more_text=item.show_more_text
        %}

    {% endcase %}

  {% endfor %}

</div>
