<div class="menu">

  {% for item in include.collection %}

    {% case item.type %}

      {% when "link" %}

        <a href="{{ item.url }}">{{ item.name }}</a>

      {% when "menu" %}

        <p class="submenu">{{ item.name }}</p>

        {% include menu_item.html collection=item.entries %}

      {% when "posts" %}

        <p class="submenu">{{ item.name }}</p>

        {% include post_list.html
          limit=item.limit
          show_more=true
          show_more_url=item.show_more_url
          show_more_text=item.show_more_text
        %}

    {% endcase %}

  {% endfor %}

</div>

<!-- <ul>
  {% for item in include.collection %}
    <li>
      {% case item.type %}

        {% when "link" %}

          <a href="{{ item.url }}">{{ item.name }}</a>

        {% when "posts" %}

          Posts :&nbsp;

          {% for category in item.categories %}
            <a href="{{ category.url }}">{{ category.name }}</a>&nbsp;&nbsp;&nbsp;
          {% endfor %}

          {% include post_list.html
            tags=item.tags
            limit=item.limit
          %}

      {% endcase %}
    </li>
  {% endfor %}
</ul> -->