
{% if include.category %}
  {% assign posts = site.categories[include.category] %}  
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% if include.limit and posts.size > include.limit %}
  {% assign limit_exceeded = true %}
{% else %}
  {% assign limit_exceeded = false %}
{% endif %}

{% if posts.size > 0 %}

  <div class="post_list">
    {% for post in posts limit: include.limit %}
      <a class="post" href="{{ post.url | relative_url }}" rel="nofollow noopener noreferrer">
        <div class="date">
          {{ post.date | date_to_string }}
        </div>
        <div class="title">
          {{ post.title }}
        </div>
        <div class="excerpt">
          {{ post.excerpt | strip_html }}
        </div>
      </a>
    {% endfor %}
  </div>

  {% if include.show_more and limit_exceeded %}
    <a class="showmore" href="{{ include.show_more_url }}" rel="nofollow noopener noreferrer">
      {% include icons/showmore.html %}
    </a>
  {% endif %}
{% endif %}