
<div class="title">

    <div class="letters">
        <div class="letter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-weight="bold">B</text>
            </svg>
        </div>
        <div class="letter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-weight="bold">L</text>
            </svg>
        </div>
        <div class="letter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-weight="bold">O</text>
            </svg>
        </div>
        <div class="letter">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                <text x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" font-weight="bold">G</text>
            </svg>
        </div>
    </div>

    {% include links.html %}

</div>

