---
---
// Above is an empty front matter for the main.scss file

@import "no-style-please";

// Custom styles

.post-meta {
  display: flex;
  flex-direction: column;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .letters {
    display: flex;
    flex-direction: row;

    .letter {
      margin: 3px;
      text-decoration: none;

      svg {
        width: 24px;
        height: 24px;
        padding: 5px;
        background: #ffa500;
        border-radius: 10px;
      }
    }
  }

  .divider {
    width: 160px;
    height: 1px;
    background-color: white;
    margin: -3px 0 3px 0;
  }

  .links {
    display: flex;
    flex-direction: row;
  
    .link {
      margin: 3px;
      text-decoration: none;

      svg {
        width: 24px;
        height: 24px;
        padding: 5px;
        background: #ffa500;
        border-radius: 10px;
      }
    }
  }
}

.projects {

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 0.5rem;

    .link {
      text-decoration: none;
  
      svg {
        width: 24px;
        height: 24px;
        padding: 5px;
        background: #ffa500;
        border-radius: 10px;
      }
    }
  }
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */

  .iframe-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
