---
---
// Above is an empty front matter for the main.scss file

// bg color is also needed in html in order to block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body { background: #191919; }

html { height: 100%; }

body {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  hyphens: auto;
}

h2, h3, h4, h5, h6 { margin-top: 3rem; }

hr { margin: 2rem 0; }

a { color: skyblue; }

p { margin: 1rem 0; font-size: 18px; }

li { margin: 0.4rem 0; }

*:target { background: yellow; }

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box; /* Firefox */
  -webkit-box-sizing: border-box; /* Safari */
}

$custom-max-width: 640px;

hr {
  text-align: center;
  border: 0;

  &:before { content: '/////' }
  &:after { content: attr(data-content) '/////' }
}

.table-container {
  display: flex;
  overflow: auto;
}

table, th, td {
  border: thin solid white;
  border-collapse: collapse;
  padding: 0.4rem;
}

th {
  background-color: #383838;
}

code {
  background: #383838;
  border-radius: 5px;
  padding-left: 3px;
  padding-right: 3px;
  tab-size: 2rem;
}

div.highlighter-rouge {

  .highlight code {
    display: block;
    max-height: 500px;
    overflow: auto;
    background: #383838;
    border-radius: 3px;
    padding: 1rem;
    tab-size: 2rem;
  }

  .highlight table td { padding: 5px; }
  .highlight table pre { margin: 0; }
  .highlight .c, .highlight .ch, .highlight .cd, .highlight .cpf {
    color: #75715e;
    font-style: italic;
  }
  .highlight .cm {
    color: #75715e;
    font-style: italic;
  }
  .highlight .c1 {
    color: #75715e;
    font-style: italic;
  }
  .highlight .cp {
    color: #75715e;
    font-weight: bold;
  }
  .highlight .cs {
    color: #75715e;
    font-weight: bold;
    font-style: italic;
  }
  .highlight .err {
    color: #960050;
    background-color: #1e0010;
  }
  .highlight .gi {
    color: #ffffff;
    background-color: #324932;
  }
  .highlight .gd {
    color: #ffffff;
    background-color: #493131;
  }
  .highlight .ge {
    color: #000000;
    font-style: italic;
  }
  .highlight .gr {
    color: #aa0000;
  }
  .highlight .gt {
    color: #aa0000;
  }
  .highlight .gh {
    color: #999999;
  }
  .highlight .go {
    color: #888888;
  }
  .highlight .gp {
    color: #555555;
  }
  .highlight .gs {
    font-weight: bold;
  }
  .highlight .gu {
    color: #aaaaaa;
  }
  .highlight .k, .highlight .kv {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .kc {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .kd {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .kp {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .kr {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .kt {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .kn {
    color: #f92672;
    font-weight: bold;
  }
  .highlight .ow {
    color: #f92672;
    font-weight: bold;
  }
  .highlight .o {
    color: #f92672;
    font-weight: bold;
  }
  .highlight .mf {
    color: #ae81ff;
  }
  .highlight .mh {
    color: #ae81ff;
  }
  .highlight .il {
    color: #ae81ff;
  }
  .highlight .mi {
    color: #ae81ff;
  }
  .highlight .mo {
    color: #ae81ff;
  }
  .highlight .m, .highlight .mb, .highlight .mx {
    color: #ae81ff;
  }
  .highlight .se {
    color: #ae81ff;
  }
  .highlight .sa {
    color: #66d9ef;
    font-weight: bold;
  }
  .highlight .sb {
    color: #e6db74;
  }
  .highlight .sc {
    color: #e6db74;
  }
  .highlight .sd {
    color: #e6db74;
  }
  .highlight .s2 {
    color: #e6db74;
  }
  .highlight .sh {
    color: #e6db74;
  }
  .highlight .si {
    color: #e6db74;
  }
  .highlight .sx {
    color: #e6db74;
  }
  .highlight .sr {
    color: #e6db74;
  }
  .highlight .s1 {
    color: #e6db74;
  }
  .highlight .ss {
    color: #e6db74;
  }
  .highlight .s, .highlight .dl {
    color: #e6db74;
  }
  .highlight .na {
    color: #a6e22e;
  }
  .highlight .nc {
    color: #a6e22e;
    font-weight: bold;
  }
  .highlight .nd {
    color: #a6e22e;
    font-weight: bold;
  }
  .highlight .ne {
    color: #a6e22e;
    font-weight: bold;
  }
  .highlight .nf, .highlight .fm {
    color: #a6e22e;
    font-weight: bold;
  }
  .highlight .no {
    color: #66d9ef;
  }
  .highlight .bp {
    color: #f8f8f2;
  }
  .highlight .nb {
    color: #f8f8f2;
  }
  .highlight .ni {
    color: #f8f8f2;
  }
  .highlight .nn {
    color: #f8f8f2;
  }
  .highlight .vc {
    color: #f8f8f2;
  }
  .highlight .vg {
    color: #f8f8f2;
  }
  .highlight .vi {
    color: #f8f8f2;
  }
  .highlight .nv, .highlight .vm {
    color: #f8f8f2;
  }
  .highlight .w {
    color: #f8f8f2;
  }
  .highlight .nl {
    color: #f8f8f2;
    font-weight: bold;
  }
  .highlight .nt {
    color: #f92672;
  }
  .highlight {
    color: #f8f8f2;
    background-color: #49483e;
  }

}

blockquote {
  font-style: italic;
  background-color: #383838;
  border: thin solid white;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  p { margin: 0; }
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  border: solid 3px white;
  border-radius: 5px;
}

article {
  width: 100%;

  h1.post_title {
    text-align: center;
  }

  div.post_data {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: grey;
  }
}

// Component styles

.w {
  max-width: $custom-max-width;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  pre.title {
    margin-top: 5rem;
    font-size: 0.4rem;
    text-align: center;
    font-weight: bold;
  }

  .links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 1rem;
  
    .link {
      width: 72px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      padding: 8px;
      border: thin solid #555555;
      border-radius: 20px;
      background-color: #333333;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      text-decoration: none;

      .icon {
        width: 24px;
        height: 24px;
      }

      .label {
        font-size: 12px;
        color: #bbbbbb;
      }
    }

    .link:hover {
      background-color: #444444;
    }
  }
  
  .divider {
    width: 100%;
    text-align: center;
    margin: 12px 0;
    font-size: small;
    color: #999999;
    user-select: none;

    &::before, &::after {
      content: '•';
    }
  }
}

.post_list {
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-auto-rows: 1fr;
  gap: 1rem;

  .post {
    position: relative;
    width: 100%;
    height: 150px;
    padding: 18px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: thin solid #555555;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-decoration: none;

    &:hover {
      background-color: #444444;
    }

    .date {
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: -10px;
      margin-left: -50px;
      width: 100px;
      height: 20px;
      color: #aaaaaa;
      background-color: #444444;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      font-size: small;
      text-align: center;
      border-radius: 10px;
    }

    .title {
      color: #dddddd;
      font-weight: bold;
      font-size: large;
      text-align: center;
    }

    .excerpt {
      color: #aaaaaa;
      flex: 1;
      overflow: hidden;
      mask-image: linear-gradient(180deg, #000 60%, transparent);
    }
  }
}

.showmore, .go_back {
  width: 40px;
  height: 40px;
  margin: 1rem;
  padding: 4px;
  border: thin solid #555555;
  border-radius: 100px;
  background-color: #333333;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  text-decoration: none;

  &:hover {
    background-color: #444444;
  }
}

.me {
  font-size: 3px;
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  .social {
    width: 6rem;
    padding: 0.5rem 0;
    text-align: center;
    border: thin solid #555555;
    border-radius: 20px;
    font-size: 1rem;
    color: #bbbbbb;
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-decoration: none;
  }

  .social:hover {
    background-color: #444444;
  }
}

.experience_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .item {
    position: relative;
    width: 90%;
    padding: 18px 12px 12px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: thin solid #555555;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-decoration: none;

    &:hover {
      background-color: #444444;
    }

    .date {
      position: absolute;
      top: 0;
      left: 50%;
      margin-top: -10px;
      margin-left: -100px;
      width: 200px;
      height: 20px;
      color: #aaaaaa;
      background-color: #444444;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      font-size: small;
      text-align: center;
      border-radius: 10px;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .name {
        color: #dddddd;
        font-weight: bold;
      }

      .separator {
        color: #aaaaaa;
      }

      .label {
        color: #aaaaaa;
      }
    }

    .description {
      color: #aaaaaa;
    }
  }
}

.project_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  .item {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: thin solid #555555;
    border-radius: 10px;
    background-color: #333333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    text-decoration: none;

    .name {
      color: #dddddd;
      font-weight: bold;
    }

    .description {
      color: #aaaaaa;
    }

    .action {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 5px;

      .action_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 8px;
        border: thin solid #555555;
        border-radius: 20px;
        background-color: #333333;
        text-decoration: none;

        .action_item_icon {
          width: 24px;
          height: 24px;
        }

        .action_item_label {
          color: #aaaaaa;
          font-size: small;
        }

        &:hover {
          background-color: #444444;
        }
      }
    }
  }
}

.resource_list_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .resource_list {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1rem;
  
    .resource_item {
      height: 100%;
      border: thin solid #555555;
      border-radius: 10px;
      background-color: #333333;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
      text-decoration: none;
      padding: 5px;
  
      &:hover {
        background-color: #444444;
      }
  
      .resource_item_name {
        color: #dddddd;
        font-size: medium;
        font-weight: bold;
      }
  
      .resource_item_desc {
        color: #aaaaaa;
        font-size: small;
      }
    }
  }
}

.lost {
  width: 100%;
  margin-top: 30vh;
  margin-bottom: 5vh;
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #ff0000;
  text-shadow: 0 2px 2px #FF0000, 
      -2px 5px 0 #ff7f00, 
      -4px 10px 0 #ffff00,
      -8px 15px 0 #00ff00,
      -12px 20px 0 #0000ff,
      -16px 25px 0 #4b0082,
      -20px 30px 0 #9400d3;
}

.footer {
  position: absolute;
  font-size: 0.8rem;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: #bbbbbb;
}

.iframe-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */

  .iframe-body {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
